<section id="about">
  <div class="container-about flex-col">
    <h1 class="green text-center bigText">< <span>About </span>/></h1>
    <div>
      <div class="aboutMeGap flex-row align-center">
        <div class="about-pp">
          <img src="/images/PP-Syahdan.jpg" alt="gambar saya" />
        </div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo vel
          nihil ducimus unde enim at maiores quia minus, voluptate doloribus
          consequatur consequuntur vitae cumque dolore neque in! Tenetur,
          obcaecati ex.
        </div>
      </div>
    </div>
    <div class="flex-col">
      <h1 class="green text-center">< <span>Education </span>/></h1>
      <div class="aboutMeGap flex-row align-center">
        <div class="education-pp">
          <img src="/images/unpad-logo.png" alt="gambar saya" />
        </div>
        <div class="flex-col small-gap">
          <h2>Padjadjaran University</h2>
          <i>Digital Business (Current GPA: 3.62)</i>
          <p>2022 - Present</p>
        </div>
      </div>
      <div class="aboutMeGap flex-row align-center">
        <div class="education-pp">
          <img class="perkasa-logo" src="/images/perkasa-logo.png" alt="gambar saya" />
        </div>
        <div class="flex-col small-gap">
          <h2>SMKS PERKASA 2</h2>
          <i>Mechanical Engineering</i>
          <p>2018 - 2021</p>
        </div>
      </div>
    </div>

    <div>
      <h1 class="green text-center">< <span>Experience</span>/></h1>
      <div>
        <ul>
          <li>test</li>
        </ul>
      </div>
    </div>
  </div>
</section>
